<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.union.remote_desktop_power_switch">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/rdps_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/rdps_launcher_round"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="edu.union.remote_desktop_power_switch.LoginActivity"
            android:parentActivityName="edu.union.remote_desktop_power_switch.FirstLoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="edu.union.remote_desktop_power_switch.MainActivity"
            android:parentActivityName="edu.union.remote_desktop_power_switch.LoginActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="edu.union.remote_desktop_power_switch.FirstLoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>